/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$metallic-gold: #d4af37 !default;
$dark-gold: #b29126 !default;

$primary: $gray-900 !default; // theme's primary color
$link-color: #8170ad !default; // color for text with hyper-links

$toc-color: #8170ad; // color of "current" section name in the TOC 
$toc-font-size: 0.925rem !default; // font size of text in the TOC

/* Base fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300;0,600;0,700;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Roboto+Serif:wght@600&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$font-family-base: "Lato", "Nunito", "Roboto", sans-serif !default;
$headings-font-family: "Lato", "Libre Baskerville" !default;

/*-- scss:rules --*/

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family: $headings-font-family;
    font-size: $font-size-base * 2.5;
  }

/* table of contents (see quarto/share/formats/html/bootstrap/_bootstrap-rules.scss) */

.sidebar nav[role="doc-toc"] > ul a {
    border-left: 3px solid $gray-200;
    padding-left: 0.6rem;
}

.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    border-left: 3px solid $toc-color;
    color: $toc-color !important;
    font-weight: 600;
    // background-color: #c18152;
    // display: table; /* keep the background color wrapped tight */
}

.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
    border-left: 3px solid $toc-color;
    color: $toc-color !important;
    font-weight: 600;
    // background-color: #c18152;
    // display: table; /* keep the background color wrapped tight */
}

/* Main page */
.body{
    text-align: justify;
}
.column-body{
    text-align: justify;
}

.listing-description{
    text-align: left;
}

.figure-caption{
    text-align: left;
 }

/* Code blocks */
.sourceCode {
    font-size: $font-size-base * 0.7;
}